<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body align="center">
   <h1>멤버리스트 보기</h1>
<table border="1"align="center">
    <thead>
   <tr>
   <tr>ID</tr>
   <tr>이름</tr>
   <tr>나이</tr>
   <tr>주소</tr>
   <tr>수정</tr>
   <tr>삭제</tr>
   </tr>
    </thead>
    <tbody>
    <tr>
    <tr>1</tr>
    <tr>홍길동</tr>
    <tr>90</tr>
    <tr>제주도</tr>
    <td>
        <form>
            <input type="submit" value="수정">
        </form>
    </td>
    <td>
        <form>
            <input type="submit" value="삭제">
        </form>
    </td>
    </tr
    </tbody>
</table>
<br>
   <form>
       <input type="submit" value="신규멤입">
   </form>

</body>
</html>